@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply p-8;
  }
  a {
    @apply text-blue-500 underline;
  }
  h1, h2, h3, h4, h5, h6, p, ul, ol, table, hr, code, form {
    @apply mb-6;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  form label {
    @apply block mb-2;
  }
  form input[type="text"], form input[type="email"] {
    @apply block w-full p-2 border border-gray-300 rounded;
  }
  button {
    @apply bg-blue-500 text-white leading-10 px-3 rounded font-medium;
  }
  code {
    @apply block bg-zinc-100 p-4 rounded;
  }
  .posts {
    @apply list-none flex flex-row gap-4;
  }
  .posts li {
    @apply border border-gray-200 p-4 rounded-lg shadow-sm w-full max-w-md;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
